{{ define "main" }}
  <h2>
    <a href="/gaming/">Games I Played</a> &gt;
    <a href="/gaming/{{ .Params.Gaming }}/">{{ .Params.Gaming }}</a> &gt;
    {{ .Title }}
  </h2>
  <ul class="gaming-single-meta">
    <li class="system">System: {{ .Params.System }}</li>
    <li class="completed">Completed: {{ cond .Params.Completed "Yes" "No" }}</li>
    <li class="platinum">100% Achievements: {{ cond .Params.Platinum "Yes" "No" }}</li>
  </ul>
  {{ $boxartDescription := .Params.description }}
  {{ with .Resources.GetMatch "featured" }}
  <img src="{{ .RelPermalink }}" alt="{{ $boxartDescription }}" class="preview-landscape" width="764" height="430">
  {{ end }}
  <p class="gaming-single-description">{{ $boxartDescription }}</p>
  {{ .Content }}
{{ end }}
