{{ define "main" }}
  <h2><a href="/gaming/">Games I Played</a> &gt; {{ .Title }}</h2>
  <p>
    <em>Games are sorted from most to least recently played.</em>
  </p>
  <ol reversed>
    {{ range .Pages.ByPublishDate.Reverse }}
      {{ $wordcount := print .Content | countwords }}
      <li>
      {{ if gt $wordcount 0 }}
        <a href="{{ .RelPermalink }}" class="title">
          {{ .Title }}
        </a>
      {{ else }}
        {{ .Title }}
      {{ end }}
        {{ partial "metadata-gaming.html" . }}
      </li>
    {{ end }}
  </ol>
{{ end }}
