<footer>
  <p>
    <a href="{{ .Site.Params.urlGitHub }}" target="_blank" rel="noopener noreferrer">
      GitHub (MasterKale)
    </a>
    | <a href="{{ .Site.Params.urlTwitter }}" target="_blank" rel="noopener noreferrer">
      Twitter (@IAmKale)
    </a>
  </p>
  Copyright &copy; {{ now.Format "2006" }} {{ .Site.Author.name }}
</footer>
<!-- Temporarily disabling for now -->
<!-- {{ $resourceJS := resources.Get "js/index.js"}}
{{ $buildArgs := dict "target" "es2018" }}
{{ $js := $resourceJS | js.Build $buildArgs | fingerprint }}
<script src="{{ $js.RelPermalink }}"></script> -->
