<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Base and canonical URLs -->
  <base href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <!-- RSS -->
  {{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{ end }}
  <!-- Favicon -->
  <link href="{{ "/favicon_2021.png" | relURL }}" rel="icon">
  <!-- OpenGraph + Twitter -->
  {{ $metaDescription := $.Site.Params.description }}
  {{ if .Description }}{{ $metaDescription = .Description }}{{ end }}
  <meta name="description" content="{{ $metaDescription }}" />
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <!-- Custom font (loaded here because it's a static asset) -->
  <style>
    @font-face {
      font-family: "PT Mono";
      src: url("{{ "/PTMono-Regular.ttf" | relURL }}") format('truetype');
      font-weight: normal;
      font-style: normal;
    }
  </style>
  <!-- Pull in template SCSS and build to CSS -->
  {{ $sass := resources.Get "scss/style.scss"}}
  {{ $style := $sass | toCSS | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <!-- highlight.js syntax formatting (only when the page has code) -->
  {{ if .Page.Params.hasCode }}
  <link rel="stylesheet" href="{{ "/css/tomorrow-night.css" | relURL }}">
  {{ end }}
  <!-- Page title -->
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>
