<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{ end }}
  <link href="{{ "/favicon_2021.png" | relURL }}" rel="icon">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <style>
    @font-face {
      font-family: "PT Mono";
      src: url("{{ "/PTMono-Regular.ttf" | relURL }}") format('truetype');
      font-weight: normal;
      font-style: normal;
    }
  </style>
  {{ $sass := resources.Get "scss/style.scss"}}
  {{ $style := $sass | toCSS | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="{{ "/css/tomorrow-night.css" | relURL }}">
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>
