<section class="post-summary">
  {{ $dateTime := .PublishDate.Format "2006-01-02" }}
  {{ $dateFormat := .Site.Params.dateFormat | default "Jan 02, 2006" }}
  <em class="post-summary--date">
    <time datetime="{{ $dateTime }}">
      {{ .PublishDate.Format $dateFormat }}
    </time>
    {{ if not .Site.Params.hideReadingTime }}
    <span class="post-summary--read-time">
       - {{ .ReadingTime }} minute read
    </span>
    {{ end }}
  </em>
  <h3>
    <a href="{{ .RelPermalink }}" class="title">
      {{ .Title }}
    </a>
  </h3>
</section>
