@import 'functions';

:root {
  --font-family: "InputMono", monospace;
  --font-size: 14px;
  --max-content-width: 42rem;
  --content-padding: 1rem;
  --background: 255, 255, 255;
  --text: 49, 49, 49;
  --emphasis: 11, 138, 0;
  --alpha: 0.8;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-padding-top: 4rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: safe-rgb(var(--text));
  background: safe-rgb(var(--background));
}

a {
  color: safe-rgb(var(--emphasis));
  text-decoration: none;

  &:hover {
    text-decoration: underline wavy;
  }
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.25em; margin-bottom: 0.25rem; }
h3 { font-size: 1.1em; }

header {
  border-bottom: 1px solid safe-rgb(var(--text));
  position: sticky;
  top: 0;
  background: safe-rgb(var(--background));

  h1 {
    display: inline;
    margin: 0;
  }

  nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.1em;
  }

  .content-column {
    display: flex;
  }
}

.title  {
  a {
    color: safe-rgb(var(--text));
  }
}

.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;

  li {
    display: inline-block;
    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}

main {
  line-height: 1.5rem;
  &.content-column {
    img {
      display: block;
      margin: 0 auto 1rem;
    }

    code.hljs, img {
      border-radius: 0.25rem;
      border: 1px solid safe-rgb(var(--text));
    }
  }
}

blockquote, .note {
  background: rgba(var(--text), 0.25);
  margin: 0;
  padding: 0.5rem 1rem;
  font-style: italic;
  border-left: 0.4rem solid rgba(var(--text), var(--alpha));

  p {
    margin: 0.5em 0;
  }
}

p code, li code {
  font-weight: bold;
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

footer {
  padding: var(--content-padding);
  text-align: center;
}

.post-summary {
  display: flex;
  line-height: 1.25rem;
  margin-top: 1rem;
  align-items: baseline;

  &--date {
    margin-right: 1rem;
    color: rgba(var(--text), var(--alpha));
    text-align: right;
  }

  &--read-time {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  h3 {
    flex: 1;
    margin: 0;
    font-weight: normal;
  }
}

.content-column {
  padding: var(--content-padding);
  max-width: var(--max-content-width);
  margin: auto;
}

.metadata {
  color: rgba(var(--text), var(--alpha));

  .reading-time {
    &:after {
      content: " ";
    }
  }

  .categories {
    display: inline-block;
    padding: 0;
    margin: 0;
    // margin-left:  1em;

    &:before {
      content: "(";
    }

    &:after {
      content: ")";
    }

    li {
      display: inline;

    }
    li + li:before {
      content: ", ";
    }
  }

  dfn {
    text-decoration: underline dashed;
  }
}

.category--count {
  color: rgba(var(--text), var(--alpha));
}

ol.categories--list {
  margin: 0;
  margin-top: 1rem;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
    margin-right: 0.5rem;
  }
}

a.click-for-big-image {
  display: block;
  margin-bottom: 1rem;
  text-align: center;

  img {
    margin-bottom: 0;
  }

  &::after {
    content: "(click for full size)";
    font-style: italic;
    color: rgba(var(--emphasis), var(--alpha));
    font-size: 0.75rem;
  }
}

img.preview-landscape {
  max-width: 90%;
  height: auto;
}

img.preview-portrait {
  max-height: 25rem;
  width: auto;
}

.gaming-list-item-status {
  display: inline-block;
  width: 1.5em;
  text-align: center;
}

.gaming-single-meta li.system { list-style: "🎮 "; }
.gaming-single-meta li.completed { list-style: "✅ "; }

.gaming-single-description {
  font-style: italic;
  color: rgba(var(--text), var(--alpha));
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.post-description {
  font-style: italic;
}

.metadata-hr {
  border: none;
  border-top: 0.15rem solid safe-rgb(var(--emphasis));
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: 171, 178, 191;
    --background: 40, 44, 52;
    --emphasis: 42, 169, 19;
  }
}

@media screen and (max-width: 600px) {
  html {
    scroll-padding-top: 6rem;
  }

  header {
    .content-column {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0.5rem;
    }

    h1 {
      margin-bottom: 0.25rem;
    }

    nav {
      a {
        display: flex;
        height: 2rem;
        line-height: 2rem;
        vertical-align: middle;
      }
    }
  }

  .post-summary {
    flex-direction: column-reverse;

    &--date {
      text-align: left;
    }

    &--read-time {
      &--mobile {
        display: inline;
      }

      &--desktop {
        display: none;
      }
    }
  }
}

@media print {
  header {
    // Prevent the <header> from appearing in the middle of the page if you
    // scroll down a bit before deciding the print a post
    position: relative;
  }
}
