display_url: https://blog.millerti.me

backend:
  name: git-gateway
  squash_merges: true

# Enables Netlify CMS's editorial workflow:
# https://www.netlifycms.org/docs/configuration-options/#publish-mode
publish_mode: editorial_workflow

media_folder: "static/images"
public_folder: "/images"

collections:
    # Used in routes, e.g., /admin/collections/blog
  - name: "posts"
    # What to call items in the CMS
    label: "Post"
    label_singular: "Post"
    # Where to store posts (relative to the project root)
    folder: "content/posts"
    # Allow for posts to be created in the CMS
    create: true
    # The filename slug to use when saving posts
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    # Save posts with .md extension
    extension: "md"
    # Use TOML frontmatter (delimiter: +++)
    format: "toml-frontmatter"
    # Post frontmatter
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Description", name: "description", widget: "string"}
      - {label: "Date", name: "date", widget: "datetime"}
      - {label: "Post Categories (comma-separated)", name: "categories", widget: "list", default: []}
      - {label: "Meta Keywords (comma-separated)", name: "keywords", widget: "list", default: []}
      - {label: "Has Code? (enables highlighting)", name: "hasCode", widget: "boolean", default: false}
      - {label: "Draft", name: "draft", widget: "boolean", default: false}
      - {label: "Body", name: "body", widget: "markdown"}
    view_filters:
      - label: Drafts
        field: "draft"
        pattern: true
    view_groups:
      - label: Year
        field: date
        # groups items based on the value matched by the pattern
        pattern: \d{4}
      - label: Drafts
        field: draft
