.theme-base-0b .sidebar {
	background: #97CC68;
	color: #333;
}

.theme-base-0b .content a {
	color: #97CC68;
}

.theme-base-0b a.label {
	color: white;
	background: #97CC68;
}

.sidebar-about h1 {
	color: #333;
}

.post-date {
	color: #333;
}

.post img {
	border: 1px solid #333;
}